.env
.venv/
*__pycache__/
*.pyc
.DS_Store
runtime/__pycache__/
runtime/*.pyc
agents/__pycache__/
agents/*.pyc
dump.rdb
models/__pycache__/
models/*.pyc
tests/__pycache__/
tests/*.pyc
.vscode/
.idea/
*.pyc
data/
memory/__pycache__/
memory/*.pyc
llms/__pycache__/
llms/*.pyc
article/